@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.background-color {
  background-color: #fff;
}

.wrapper {
  height: 5410px;
  max-width: 810px;
  /* background: #fff;  */
  background-color: #E5E5E5;
  /*
  display: grid;
  grid-template-rows: 0.04fr 0.32fr 0.32fr 0.32fr;
  /* row-gap: 20px; */
  grid-row-gap: 50px; */
}

.container-homepage {
  /* position: absolute; */

  

  background: url("/images/header-shapes-mobile.png") no-repeat center center;
  /*  height: 604.0000610351562px;
  max-width: 100%; */
  border-bottom-left-radius: 80px;
  background-color: #fff;
  /*
  left: calc(50% - 375px / 2);
  top: 92px;
  */

  /*padding: 114px, 24px, 114px, 24px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 12px; */
}

.header-2 {
  height: 48px;
  /* max-width: 100%; */
  margin: 58px 24px 0 24px;
  display: flex;
  justify-content: space-between;
}

.my-logo {
  width: 100px;
  height: 40px;
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.bar {
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

.navbar {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

li a i {
  color: #6070ff;
  width: 16px;
  margin-bottom: 138px;
}

.menu-bar button i {
  height: 12px;
  width: 18px;

  /*
  left: 3px;
  top: 6px; */

  color: #6070ff;
}

li {
  list-style: none;
}

/* Styling anchor tags */
a {
  text-decoration: none;
}

li a {
  text-decoration-style: none;
  position: relative;
}

.section-home {
  margin-left: 24px;
  margin-right: 24px;
}

.name-welcome {
  color: #17284d;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  height: 150px;
  width: 327px;
  display: flex;
  align-items: center;
  margin-top: 128px;
  margin-bottom: 12px;
}

.description-of-me {
  color: #344563;
  margin-bottom: 12px;
}

.lets-connect-statement {
  width: 125px;
  height: 24px;
  color: #7f8cff;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-with-social {
  color: #7f8cff;
}

.social-networks li {
  display: inline-block;
}

.social-network {
  text-decoration: none;
  padding-right: 30px;
}

li .social-network i {
  color: grey;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 700;
}

.social-networks .social-network i:hover {
  color: #6070ff;
  box-shadow: 0.001px 8px 16px rgb(64, 83, 252, 0.24);
  border-radius: 8px;
}

/* Works and About-me section */
.section-works {
  margin: 16px 16px;
}

.card-works {
  /* height: 220px;
   max-width: 100%; */
  border-radius: 8px;
  margin-bottom: 350px;
}

.section-works h1 {
  height: 36px;
  width: 295px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.frame-2 {
  height: 32px;
  width: 236px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.frame-2 .canopy,
.frame-2 .back-end-dev,
.frame-2 .year {
  height: 16px;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  display: flex;
  align-items: center;
}

.frame-2 .canopy {
  color: #344563;
}

.frame-2 .counter {
  height: 8px;
  width: 8px;
  color: #c1c7d0;
  display: flex;
  align-items: center;
}

.work-detail {
  margin-bottom: -10px;
}

.work-detail p {
  height: 76px;
  max-width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;

  /* margin-bottom: 12px; */
}

.tags {
  height: 24px;
  width: 203px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  height: 16px;
  width: 65px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.lets-connect-about {
  margin-bottom: 22px;
}

.action .btn {
  height: 48px;
  width: 162px;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  border: 1px solid #6070ff;

  /* position: absolute;  top: calc(50% - 48px/2);   border: 1px solid #6070ff; */
}

.btn span {
  height: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

/* End of Styling anchor tags   */
.project-title .title {
  height: 36px;
  width: 295px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Styling about myself section */
.section-about-myself {
  margin: 16px 16px;
  max-width: 100%;
}

/*
.about-me-btn {
  height: 24px;
  width: 138px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 12px;
  color: #396df2;
}
*/
.skill-list {
  height: 464.14678955078125px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.frame-12 {
  height: 320.14678955078125px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* margin-bottom: 40px; */

  margin-bottom: 36px;
}

.frame-7 {
  height: 72px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-7 a {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frame-7 img {
  height: 8px;
  width: 14px;
  color: #5e6c84;
}

.language-list {
  height: 248.14678955078125px;

  /* width: 327px; */

  max-width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* gap: 12px; */

  margin-bottom: 36px;
}

.frame-12 ul li {
  list-style: none;
}

.language-list .frame-8 {
  height: 72px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-8 a {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frame-8 img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: flex-end;
  color: #505f79;
}

.frame-9 {
  margin-top: 24px;
  height: 72px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.frame-9 a {
  height: 24px;
  width: 215px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-9 img {
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: #505f79;
}

.skill-and-framework {
  height: 72px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-and-framework .skills-frame-9 {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.skill-and-framework .frameworks-frame-8 {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frame-10 {
  margin-top: 24px;
  height: 72px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.frame-10 a {
  height: 24px;
  width: 215px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-10 img {
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}

.frame-11 {
  margin-top: 24px;
  height: 72px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.frame-11 a {
  height: 24px;
  width: 215px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-11 img {
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}

/* End of Styling about myself section */

/* End of Works and About-me section */
